.default {
  @apply flex 
  items-center 
  justify-center 
  shadow-xl 
  rounded-full 
  transition 
  text-sm
  md:text-lg;
}

.primary {
  @apply bg-primary 
  py-3 
  px-5
  hover:bg-yellow-400;
}

.secondary {
  @apply border-4 
  border-gray-800 
  text-gray-800 
  py-1 px-6
  
  hover:border-black 
  hover:text-black;
}

.ternary {
  @apply bg-ternary 
  text-white 
  py-3 px-5
  hover:bg-ternary2;
}

.quartet {
  @apply border-4 
  border-ternary
  text-ternary
  py-1 px-6
  mx-2
  hover:border-ternary2
  hover:text-ternary2;
}
